:root {
    --blue-principal:#47CFAC;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

