* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Mono', monospace;
}

.home-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

header {
    width: 100%;
    height: 14rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

header .header-icons-container {
    width:100%;
    height: 5rem;
    display: grid;
    background-color: #47CFAC;
}

header .header-icons-container .icons {
    width: 30rem;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 5rem;
}

header .icons span {
    color: white;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 9rem;
}

nav .nav-logo-container {
    margin-left: 5rem;
}

nav .nav-logo-container img {
    width: 22rem;
    margin-top: 1rem;
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5rem;
}

nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;
    font-size: 1.8rem;
}

.main__cover {
    background-image: url("../assets/img/Cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.main__cover div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15rem;
    width: 60rem;
    margin: 0 auto;
    /* background-color: #47CFAC; */
    justify-content: space-between;
    position: absolute;
    top: 10rem;
    right: 0;
    bottom: 0;
    left: 0;
}

.main__cover div h1 {
    font-family: 'Roboto mono', monospace;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 1rem;
}

.main__cover div button {
    margin: 10rem auto 0;
    padding: 1rem;
    background-color: #47CFAC;
    border: 1px solid white;
}

.main__cover div button a {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.blogs-main {
    display: grid;
}
.blogs-news-container {
    display: flex;
    background-color: #E6E9ED;
    padding: 0 5rem 4rem;
}

.blogs-main-new {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.blogs-main-new-title {
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 2rem;
    border-bottom: .1rem solid #CDD2DA;
}

.blogs-main-new .blogs-main-new-title {
    border: 0;
    margin: 0;
    text-align: start;
}

.blogs-news-img-container {
    width: 80%;
}

.blogs-news-img-container img {
    width: 100%;
    height: 100%;
}

.blogs-news-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5rem;
    width: 70%;
}

.blogs-news-info-container h2 {
    font-size: 2.5rem;
}

.blogs-news-info-container p {
    font-size: 1.5rem;
}

.blogs-button {
    background-color: transparent;
    width: auto;
    align-self: flex-start;
    border: .1rem solid #47CFAC;
    padding: 1rem;
}

.blogs-button a {
    font-size: 1.2rem;
}

.blogs-news-info-container * {
    margin-bottom: 3rem;
}

.posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
}

.blogs-posts-container {
    width: 90%;
    margin: 0 auto;
}

.blogs-posts-container h2 {
    
}

.post-container {
    display: flex;
    flex-direction: column;
}

.post-container * {
    margin-bottom: 2rem;
}

.post-container img {
    width: 90%;
}

.post-container p {
    width: 90%;
    font-size: 1.3rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 8rem;
    border-top: 2rem solid #47CFAC;
    background-color: black;
}

footer p {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.blogs-img-hover-container {
    width: 95%;
    margin: 0 auto;
}

.hover-header {
    width: 100%;
}

.blog-main-container {
    width: 80%;
    margin: 0 auto;
}

.blog-main-container .blogs-main-new-title {
    text-align: start;
}

.blog-main-title {
    font-size: 3rem;
    margin: 3rem 0;
}

.blog-main-container p {
    font-size: 1.5rem;
}

.blog-main-tag-container {
    display: flex;
    justify-content: space-around;
    background-color: #E6E9ED;
    margin-top: 4rem;
    padding: 5% 8%;
}

.blog-main-tag-container .tag-container {
    display: flex;
    width: 50%;
    align-items: center;
}

.blog-main-tag-container .tag-container img {
    width: 20%;
}

.blog-main-tag-container .tag-container div {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.blog-main-tag-container .tag-container h3 {
    font-size: 1.5rem;
    font-weight: normal;
    align-self: flex-start;
    margin-bottom: 1rem;
    border-bottom: .1rem solid black;
}

.blog-main-tag-container .tag-container p {
    font-size: 1.5rem;
}